body {
        font-size: larger;
    background: #1b1c1f;
    font-family:monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.player {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 1.5em;
    color: #eee;
}

.cover {
    width: 18em;
    border: 0.4em #fdd4fb solid;
    outline: 0.1em #fcbae2 solid;
    border-radius: 15%;
    box-shadow: 0.8em 0.8em 10em #fc68d4, -0.8em -0.8em 10em #fc68d4;
}

@keyframes glowing {
    0% { box-shadow: 0.8em 0.8em 4.625em #fc68d4, -0.8em -0.8em 4.625em #fc68d4; }
    50% { box-shadow: 0.8em 0.8em 10em #fc68d4, -0.8em -0.8em 10em #fc68d4; }
    100% { box-shadow: 0.8em 0.8em 4.625em #fc68d4, -0.8em -0.8em 4.625em #fc68d4; }
  }
  
  @keyframes glowing-border {
    0% { border-color: #ffe3fe; }
    50% { border-color: #ffaedf; }
    100% { border-color: #ffe3fe; }
  }

  .glowing {
    animation: glowing 3s infinite;
  }

  .glowing-border {
    animation: glowing-border 3s infinite;
  }

h1 {
    margin: 1em 0 0.3em 0;
    color: rgb(248, 232, 241);
    text-align: center;
}

span, artist-name {
    display: block;
}

span, small {
    color: #62f1fe;
    text-align: center;
}

i {
    color: #eafdff;
}

.timeline-slider {
    margin: 1em auto;
    max-width: 18em;
}

.timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range-slider {
    margin-top: 0.2em;
    position: relative;
    display: flex;
    user-select: none;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    height: 0.4em;
    border-radius: 3px;
    background: #1f1f1f;
    box-shadow: inset 3px 3px 6px #000, 1px 1px 1px #909090;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.7em;
    height: 1.7em;
    z-index: 3;
    position: relative;
}

.timeline-slider .slider-thumb {
    position: absolute;
    width: 1.7em;
    height: 1.7em;
    background: #111;
    border-radius: 50%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.timeline-slider .slider-thumb::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.7em;
    height: 0.7em;
    background: #21e0d0;
    border-radius: inherit;
    transition: 0.3s;
}

.timeline-slider
.range-slider:hover
.slider-thumb:before {
    background: #a6f7f0;
}

.progress {
    width:50%;
    height: 0.4em;
    border-radius: 3px;
    background: linear-gradient(
        90deg,
        #18a3da,
        #3af7e7
    );
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    pointer-events: none;
}

.volume-slider {
    max-width: 14em;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center ;
    margin-right: 43.5%;
}

/* This will apply when the screen width is 768px or less (typically tablet and mobile screens) */
@media (max-width: 768px) {
    .volume-slider {
        margin-right: 27%; /* Adjust this value as needed for mobile screens */
    }
}

.volume-slider .slider::-webkit-slider-thumb {
    width: 0;
}

.volume-icon {
    margin: 0 0.5em;
    cursor: pointer;
}

.volume-icon span{
    font-size: 2em;
    padding-top: 0.2em;
}

.btn {
    background: linear-gradient(
        -60deg,
        #1e1f23,
        #2e3137);
    border: none;
    box-shadow: 0.1em 0.2em 0.3em #3b1b2e, -0.1em -0.2em 1.9em #42353d;
    width: 4em;
    height: 4em;
    border: 0.2em #fcbae2 solid;
    outline: 0.02em #fe73c6 solid;
    border-radius: 50%;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(
        60deg,
        #1e1f23,
        #2e3137
    );
}

.btn-main {
    background: linear-gradient(
        -60deg,
        #fb3bc8,
        #ff6dd8);
    width: 4.5em;
    height: 4.5em;
}

.btn-main:hover {
    background: linear-gradient(
        60deg,
        #ff6dd8,
        #fb3bc8
    );
}

.btn-main span {
    color: #fff;
}

.controls .btn {
    display: flex;
    margin: 1em;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .range-slider {
        width: 95%;
    }
}


