body {
    font-family: Helvetica, sans-serif;
    background: #26282c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.player {
    max-width: 900px;
    margin: 0 auto;
   text-align: center;
   padding: 2.5em;
   color: #eee;
}

.cover {
    width: 18em;
    border: 0.8em #171a1d solid;
    border-radius: 50%;
    box-shadow: 0.8em 0.8em 1.8em #151618, -0.8em -0.8em 1em #33353b;
}

h1 {
    margin: 1em 0 0.3em 0;
}

span, small {
    display: block;
    color: #8c8f90;
}